* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    background: #e8f8ffa0
}

.btn-outline-warning {
    --bs-btn-color: rgb(152, 117, 10);
    --bs-btn-border-color: rgb(152, 117, 10);
}

.btn-primary {
    --bs-btn-bg: #1075a3;
    --bs-btn-hover-bg: #0d5a72;
}

.d-inline .fa-list-check {
    font-size: 32px;
    color: #08185f;
}

.container1 {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #156377, #08185f);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    height: 700px;
    overflow: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #0f5e72;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#832bff, #227fdc);
    border-radius: 10px;
}

.todo-app h2 {
    color: whitesmoke;
}

#table-box {
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.table-secondary {
    --bs-table-color: rgb(227, 227, 227);
    --bs-table-bg: rgba(255, 255, 255, 0.2);
    --bs-table-border-color: rgba(255, 255, 255, 0.1);
    --bs-table-striped-color: #000;

}

.alert {
    background: #baedbf;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    overflow: hidden;
    right: 0px;
    top: 70px;
    border-radius: 5px;
    border-left: 6px solid #36bb1b;
    opacity: 0;
    pointer-events: none;
}

.alert.showAlert {
    opacity: 1;
    pointer-events: auto;
}

.alert.show {
    animation: show_slide 1s ease-in-out forwards;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(-10%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-15px);
    }
}

.alert.hide {
    display: none;
}

.alert i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #36bb1b;
    font-size: 20px;
}

.alert .msg {
    padding: 0px 10px;
    font-size: 18px;
    color: #257e13;
}

.alert .close-btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f0d39c;
    padding: 20px 10px;
    cursor: pointer;
}

.close-btn:hover {
    background: #ffc766;
}

.close-btn .fa-xmark {
    color: #ce8500;
    font-size: 22px;
    line-height: 40px;
}